
/* 
Color palette used:
    https://paletton.com/#uid=20M0u0kw0w0jvDaoOy4y4oODajv
    -Orange colors-
    #FF9900
    #FFC164
    #FFB039
    #C67600
    #9B5D00
    
    -Blue colors-
    #0D58A6
    #5387BD
    #316DAC
    #094481
    #063565
*/

*{
    box-sizing: border-box;
}

body{
    background: whitesmoke;
}

h2 {
    margin: 35px ;
}

.login{
    border-radius: 20px;
    margin: 5% 35%;
    text-align: center;
    background: #FFC140;
}

#mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fields, select, #registerAccount, #userLogin{
    margin-bottom: 10px;
    padding: 3%;
    width: 80%;
}

#radio{
    width: 80%;
}

.alerts{
    display: flex;
    align-items: flex-start;
    color: red;
    width: 80%;
    margin-bottom: 10px;
}